@font-face { font-family: LightFont; src: url('resources/TheLightFont.otf'); }

body {
  margin: 10px 10px 0px;
  background-image: url("resources/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#header {
  font-size: 75%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
	font-family: LightFont;
  font-size: 22px;
  width: 300px;
}

#header_text {
  border-bottom: 1px solid black;
}

#center {
  text-align: center;
  padding: 10px;
	width:400px;
	height: auto;
  margin-left: auto;
  margin-right: auto;
    border: 3px solid black;
    border-radius: 6px;
}

#searchBar {
	padding:13px;
	font-size: 19px;
}

#searchSubmit {
	padding: 10px;
  font-size: 18px;
}


#info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-left: 10px;
	width: 400px;
	height: 350px;
	color: black;
	background-color: white;
	border:3px solid black;
  border-radius: 6px;

}

#title {
  text-align: center;
}

.switch {
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
